#conteudo2{
    margin-left: 18rem;
    
}

#conteudo{
    margin-left: 10rem;
}

#notificacoes{
    margin-bottom: 2rem;
}
 #alinhatitulonot{
    margin-left: 43%;
} 


@media (max-width: 768px) {
    #conteudo{
        margin-left: 0rem;
    }
  }   