#conteudo2{
    margin-left: 18rem;
    
}

#conteudo{
    margin-left: 10rem;
}

#notificacoes{
    margin-bottom: 2rem;
}
#alinhatitulo{
    margin-left: 44%;
}


@media (max-width: 768px) {
    #conteudo{
        margin-left: 0rem;
    }
  }   